intro {
   text-decoration-color: rgb(206, 5, 5); 
}

h1 {
    text-align: center;
}

img {
    border: 1px solid #ff294d;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}
img:hover {
    box-shadow: rgb(163, 167, 157);
}

img {
    float: none;
}
h2 {
    font-style: italic;
    text-align: center;
    color: rgb(235, 6, 25);
  }
h3{
    text-align: center;
    font-style: italic;
    color: brown;
}  
#div1 {
    background-color: var(--main-bg-color);
    padding: 5px;  
  }
  

